<h1>Results for <%= @survey.label %></h1>
<ol>
<% @questions.each_with_index do |question, index| %>
  <h3><li><%=question.label%></li></h3>
  <div class="table-responsive">
      <table class="table table-striped ">
        <tr>
          <th>Choice</th>
          <th>Number of Votes</th>
        </tr>
    <% @choices[index].each do |choice| %>
        <tr>
          <td><%=choice.label%></td>
          <td><%=choice.responses.count%></td>
        </tr>
    <% end %>
    </table>
      </div>
    <div id="barGraph-<%=index%>" style="height: 250px;" data-survey-id="<%=@survey.id%>" data-question-id="<%=question.id%>"></div>
    <script type="text/javascript">
      new Morris.Bar({
        // ID of the element in which to draw the chart.
        element: 'barGraph-<%=index%>',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
          { choice: 'Darth Vader', value: 20 },
          { choice: 'JarJar Binks', value: 10 },
          { choice: 'Boba Fett', value: 5 }
        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'year',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['value'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Value']
      });
    </script>
<% end %>
</ol>

<!-- Moris Chart -->


<script type="text/javascript" src="/js/survey_results.js"></script>
