<% if @survey %>
  <h1><%=@survey.label%></h1>
  <h3><%=@survey.description%></h3>

  <ol>
    <form action="/surveys/<%=@survey.id%>/responses" method="POST">
      <% @survey.questions.each do |question| %>
        <div class='form-group'>
          <li>
            <label for=<%= question.label %>><%= question.label %></label>
          </li>
            <% question.choices.each do |choice| %>
                <label class="radio-inline">
                  <input type="radio" name="question[<%=question.label%>]" value="<%=choice.id%>"><%= choice.label %>
                </label>
            <% end %>
        </div>
      <% end %>
    <input type="submit" value="Submit your answers" class="btn btn-primary">
    </form>
  </ol>
<% end %>
